@use "sass:map";
@import "../../globalStyles.module.scss";
// underline consts
$underline-thickness: 4px;
$underline-spacing: 0.5rem;
.landing-page__left {
  justify-content: space-between;
  height: 90vh;
  margin-bottom: 2rem;
}

.landing-page__container {
  background-color: $landing-page-background;
  position: relative;
  animation: $fade-in-animation;
  padding: 1rem;
}
@media (min-width: map.get($breakpoints,"desktop")) {
  .landing-page__container {
    margin: 3rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .landing-page__left {
    margin-bottom: 0;
    height: auto;
  }
}

.welcome-header {
  color: $font-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 20ch;
  font-size: 1.5rem;
  span {
    text-transform: uppercase;
    white-space: nowrap;
  }
  span:nth-of-type(1) {
    animation: $fade-in-animation, $translate-in-right-animation;
  }
  span:nth-of-type(2) {
    animation: $fade-in-animation, $translate-in-left-animation;
    text-align: end;
    align-self: flex-end;
  }
}
@media (min-width: map.get($breakpoints,"phoneM")) {
  .welcome-header {
    font-size: 2.5rem;
  }
}
@media (min-width: map.get($breakpoints,"phone")) {
  .welcome-header {
    font-size: 3rem;
  }
}
@keyframes underline {
  0% {
    transform: translateX(-100%);
    // background-size: 100% 0.1em, 0 0.1em;
  }
  100% {
    transform: translateX(0%);
    // background-size: 0 0.1em, 100% 0.1em;
  }
}
@keyframes underline-reverse {
  0% {
    transform: translateX(100%);
    // background-size: 100% 0.1em, 0 0.1em;
  }
  100% {
    transform: translateX(0%);
    // background-size: 0 0.1em, 100% 0.1em;
  }
}
@keyframes translate-in-right {
  0% {
    transform: translateX($tranlate-in-value);
  }
  100% {
    transform: translateX(0%);
    // background-size: 0 0.1em, 100% 0.1em;
  }
}
@keyframes translate-in-left {
  0% {
    transform: translateX(-$tranlate-in-value);
  }
  100% {
    transform: translateX(0%);
    // background-size: 0 0.1em, 100% 0.1em;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.underline {
  height: $underline-thickness;
  width: 100%;
  margin: $underline-spacing 0;
  background-color: $font-color;
}

.underline:not(.reverse) {
  animation: underline-animate(underline);
}
.underline.reverse {
  animation: underline-animate(underline-reverse);
}
