@import "../../globalStyles.module.scss";
.project_card .skills_list {
  list-style-type: none;
}
.project_card {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: $min-project-container-height;
}

.project-image {
  max-width: 80%;
  align-self: center;
  max-height: 350px;
}

.button__container {
  width: 100%;
}

.project_content h2 {
  font-size: 3rem;
  margin: 1rem;
}

.project_content {
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
.project_content p {
  text-align: end;
  font-size: clamp(10px, 1.2rem, 20px);
}
.skills_list {
  justify-content: space-between;
  align-items: space-between;
  margin: 0;
  padding: 0;
  width: 60%;
}
.skills_icon {
  font-size: 30px;
}
