$main-background: white;
$landing-page-background: white;
$font-color: black;
$accentColor: #77f6fd;
$landing-page__side_panel: grey;

$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
) !default;
